<div class="align-center-flex">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h1> Your order is accepted.</h1>
        <hr>
        <div class="align-center-flex">
          <div class="form-group">
            <a class="fix btn btn-primary" [routerLink]="['/myorders']">Show my Order</a>
          </div>
          <div class="form-group">
            <a class="fix btn btn-info" [routerLink]="['/']" >Order More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
