<div class="card" [style.width.rem]="width">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" [alt]="product.title">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text"> {{product.price}} ₴</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="!this.shoppingCart || this.shoppingCart?.getQty(this.product) === 0; else updateQty" (click)="addToCart()" class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQty>
      <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </div>
</div>
