<div class="row">
  <div class="col-md-3 col-sm-12">
    <app-product-filter [selectedCategory]="category"></app-product-filter>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="row" *ngIf="cart$ | async as cart">
      <ng-container *ngFor="let product of filteredProducts">
        <div class="col">
          <app-product-card [product]="product" [width]="20" [shoppingCart]="cart" [showActions]="true"></app-product-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
