<div>
  <a class="btn btn-primary" routerLink='/admin/products/new'>New Product</a>
</div>
<br>

<table class="table table-striped" [mfData]="items" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="title">Title</mfDefaultSorter>
        </th>
        <th style="width: 50%">
            <mfDefaultSorter by="price">Price</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter>Edit</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td> <a class='btn btn-primary'[routerLink]="['/admin/products',item.$key]">Edit</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
