<div class="sticky-top">
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" [class.active]="!selectedCategory" [routerLink]="['/']">All Category</a>
    <a *ngFor="let category of category$ | async" [class.active]="selectedCategory === category.$key " [routerLink]="['/']" [queryParams]="{category:category.$key}" class="list-group-item list-group-item-action">
      {{category.name}}
    </a>
  </ul>
</div>
