<h1>All Orders - Admin</h1>

<app-list-order-view [order$]="order$"></app-list-order-view>

<div id="wrap_window_auth" style="display: block;">
    <div id="blanket_auth" class="popup-overlay" style="height: 925px; width: 1409px;"></div>
    <div class="container">
        <div id="auth_form" class="popup-container">
            <form name="loginform" id="loginform" action="http://vkusman.kuf.zeus.nixdev.co/wp-login.php" method="post">
                <fieldset>


                    <p class="login-username">

                        <input type="text" name="log" id="user_login" class="input" value="" size="20" placeholder="E-mail" required="" maxlength="100">
                    </p>
                    <p class="login-password">

                        <input type="password" name="pwd" id="user_pass" class="input" value="" size="20" placeholder="Пароль" required="" maxlength="100">
                    </p>

                    <p class="login-remember">
                        <label>
                            <input name="rememberme" type="checkbox" id="rememberme" value="forever" checked="checked"> Запомнить меня
                        </label>
                    </p>
                    <p class="login-submit">
                        <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary" value="Войти">
                        <input type="hidden" name="redirect_to" value="http://vkusman.kuf.zeus.nixdev.co/">
                    </p>
                    <div class="form_bottom">
                        <a href="#" data-action="open-popup-reg" title="зарегистрироваться">Регистрация</a>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
