<h1>Shipping</h1>

<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="cart.totalItemCount > 0; else noCart">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <app-shipping-form [cart]='cart'></app-shipping-form>
      </div>
      <div class="col-md-6 col-sm-12">
        <app-shopping-cart-summary [cart]='cart'></app-shopping-cart-summary>
      </div>
    </div>
  </ng-container>

  <ng-template #noCart>
    <p>You don't have any item in your cart</p>
  </ng-template>

</ng-container>
